name: Update README Meme Image
on:
  workflow_dispatch:
  schedule:
  - cron: '0 2 * * *'

jobs:
  update-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Run update script to select next random meme available
        run: python update_image.py

      - name: Commit and Push changes
        uses: EndBug/add-and-commit@v9
        with:
          author_name: TheKingTermux
          author_email: 50316075+TheKingTermux@users.noreply.github.com
          message: "Otomatis: Update gambar meme acak di README.md"
          add: 'README.md status.json' 
